{% extends "base/base.html" %}

{% block title %}
  Crear jugadores
{% endblock title %}

{% block content %}

<a href="{% url 'core:create_estadio' %}" class="btn btn-outline-primary form-control">Crear un nuevo estadio</a>
<table class="table table-striped table-hover">
    <thead>
        <th style="background-color: #007BFF; color: white; text-align: center;">ID</th>
        <th style="background-color: #007BFF; color: white; text-align: center;">NOMBRE</th>
        <th style="background-color: #007BFF; color: white; text-align: center;">CAPACIDAD</th>
        <th style="background-color: #007BFF; color: white; text-align: center;">TAMAÑO</th>
        <th style="background-color: #007BFF; color: white;"></th>
        <th style="background-color: #007BFF; color: white; text-align: center;">ACCIONES</th>
        <th style="background-color: #007BFF; color: white;"></th>
    </thead>
    <tbody>
        {% for estadio in estadios %}
            <tr>
                <td style="background-color: #007BFF; color: white;  text-align: center;">{{ estadio.id }}</td>
                <td style="background-color: #AED6F1;">{{ estadio.nombre }}</td>
                <td style="background-color: #D6EAF8; text-align: center; ">{{ estadio.capacidad }}</td>
                <td style="background-color: #D6EAF8; text-align: center; ">{{ estadio.tamaño }}</td>

                <td></td>
                <td style="text-align: center;"><a href="{% url 'core:update_estadio' estadio.id %}" class="btn btn-outline-warning">Actualizar</a></td>
                <td style="text-align: center;"><a href="{% url 'core:delete_estadio' estadio.id %}" class="btn btn-outline-danger">Eliminar</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock content %}