<a href="{% url 'core:create_evento' %}" class="btn btn-outline-primary form-control">Crear un nuevo evento</a>
<table class="table table-striped table-hover">
    <thead>
        <th style="background-color: #007BFF; color: white; text-align: center;">ID</th>
        <th style="background-color: #007BFF; color: white; text-align: center;">NOMBRE</th>
        <th style="background-color: #007BFF; color: white; text-align: center;">EQUIPO</th>
        <th style="background-color: #007BFF; color: white;"></th>
        <th style="background-color: #007BFF; color: white; text-align: center;">ACCIONES</th>
        <th style="background-color: #007BFF; color: white;"></th>
    </thead>
    <tbody>
        {% for evento in eventos %}
            <tr>
                <td style="background-color: #007BFF; color: white;  text-align: center;">{{ evento.id }}</td>
                <td style="background-color: #AED6F1;">{{ evento.nombre }}</td>
                <td style="background-color: #D6EAF8; text-align: center; ">{{ evento.equipo.nombre }}</td>

                <td style="text-align: center;"><a href="{% url 'core:detail_evento' evento.id %}" class="btn btn-outline-info">Detalle</a></td>
                <td style="text-align: center;"><a href="{% url 'core:update_evento' evento.id %}" class="btn btn-outline-warning">Actualizar</a></td>
                <td style="text-align: center;"><a href="{% url 'core:delete_evento' evento.id %}" class="btn btn-outline-danger">Eliminar</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
